[program:vncserver]
priority=25
directory=/home/{{ username }}
command=vncserver -depth 16 -geometry 1280x1024 :1
#command=service vncserver start
environment=HOME="/home/{{ username }}",USER="{{ username }}"
autostart=true
autorestart=true
stopsignal=QUIT
stdout_logfile=/var/log/vnc.log
redirect_stderr=true
stopasgroup=true
user={{ username }}

