[program:x11vnc]
priority=30
directory=/home/{{ username }}
command=x11vnc -display :1 -xkb -forever -rfbauth {{ vnc_folder }}
user=root
autostart=true
autorestart=true
stopsignal=QUIT
stdout_logfile=/var/log/x11vnc.log
redirect_stderr=true

